<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Change My Info</h1>
    </div>

    <div class="col-sm-12">
      <form ng-submit="changeInfo()">
        <div class="row">
          <div class="col-sm-6">
            <label>First Name</label>
            <input class="form-control" ng-model="firstName" />
          </div>
          <div class="col-sm-6">
            <label>Last Name</label>
            <input class="form-control" ng-model="lastName" />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-6">
            <label>City</label>
            <input class="form-control" ng-model="city" />
          </div>
          <div class="col-sm-6">
            <label>State</label>
            <input class="form-control" ng-model="state" />
          </div>
        </div>
        <br />
        <div class="alert alert-success" role="alert" ng-show="infoSuccess">
          <strong>Info successfuly updated!</strong>
        </div>
        <div class="alert alert-danger" role="alert" ng-show="infoAlert">
          <strong>{{ infoError }} is empty.</strong>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>