<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Book Trading Club</h1>
    <p class="lead">Post, view, and trade books in the club!</p>
    
    <img src="http://canchild.ca/en/ourresearch/resources/Books-icon.png" width="100px" height="100px">

    <div style="margin-top: 20px;">
      <div ng-hide="loggedIn">
        <a href="/login"><button class="btn btn-info btn-l">Login</button></a>
        or
        <a href="/signup"><button class="btn btn-success">Sign Up</button></a>
      </div>

      <div ng-show="loggedIn">
        <a href="/bookshelf"><button class="btn btn-info">Check Your Bookshelf</button></a>
        or
        <a href="/books"><button class="btn btn-success">Visit The Club</button></a>
      </div>
    </div>

  </div>
</header>
<!--
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>
-->

<footer class="footer">
  <div class="container">
      <p>
        FreeCodeCamp Book Trading Club Basejump |
        <a href="https://github.com/oab00/bookclub">@oab00</a>
      </p>
  </div>
</footer>
