.bookshelf hr {
	border-top: 1px solid black;
}

.book {
    position: relative;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;

    .book-info {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 1;
	    background: rgba(0, 0, 0, 0.5);
	    display: none;
	    text-align: center;
	}

	button {
	    position: absolute;
	    top: 40%;
	    left: 16%;
	}
}

.book:hover .book-info {
    display:block;
}