<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container bookshelf">
	<div class="col-md-3">
		<h2>My Info: </h2>
		<ul>
			<li>
				<strong>Full Name:</strong><br />
				<p class="info">{{ user.firstName + ' ' + user.lastName }}</p>
			</li>
			<li>
				<strong>Location:</strong><br />
				<p class="info">{{ user.city + ', ' + user.state }}</p>
			</li>
		</ul>
		<button class="btn btn-info">Edit</button>
		<p>*hover over books for more info</p>
	</div>

	<div class="col-md-9">
		<h2>Add books:</h2>
		<form>
			<label>
				<input ng-model="searchInput" class="form-control" placeholder="Type a book name" />
			</label>
			<button ng-click="searchBooks()" class="btn btn-primary">Search</button>
		</form>
		<div class="book" ng-repeat="book in books" ng-attr-title="{{book.name}}">
			<div class="book-info">
				<button class="btn btn-success add-button" ng-click="addBook($index)">Add Book</button>
			</div>
			<img ng-src="{{book.img}}">
		</div>
		<div class="alert alert-warning" role="alert" ng-show="books.length < 1 && searched">
			<strong>No books found.</strong>
		</div>
		<hr />

		<h2>My Books:</h2>
		<div class="book" ng-repeat="book in myBooks" ng-attr-title="{{book.name}}">
			<div class="book-info">
				<button class="btn btn-danger remove-button" ng-click="removeBook($index)">Remove Book</button>
			</div>
			<img ng-src="{{book.img}}">
		</div>
		<div class="alert alert-warning" role="alert" ng-show="myBooks.length < 1">
			<strong>No books found.</strong>
		</div>
	</div>
</div>